@tailwind base;
@tailwind components;
@tailwind utilities;

.hsl-functions {
  --bg: hsl(var(--primary-hue), var(--bg-saturation), var(--bg-lightness));
  --text: hsl(var(--primary-hue), var(--text-saturation), var(--text-lightness));
  --header: hsl(var(--primary-hue), var(--header-saturation), var(--header-lightness));
  --link: hsl(var(--link-hue), var(--link-saturation), var(--link-lightness));
  --border: hsl(var(--primary-hue), var(--border-saturation), var(--border-lightness));
  --input: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) + var(--input-lightness-modifier)));
  --input-border: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) - var(--input-lightness-modifier)));
  --input-border-focus: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) - (var(--input-lightness-modifier) * 3)));
}

:root {
  --primary-hue: 220;
  --link-hue: var(--primary-hue);

  --bg-saturation: 0%;
  --bg-lightness: 98%;

  --text-saturation: 0%;
  --text-lightness: 35%;

  --header-saturation: 0%;
  --header-lightness: 25%;

  --link-saturation: 50%;
  --link-lightness: 50%;
  --link-saturation-hover: 20%;
  --link-lightness-hover: 0%;

  --border-saturation: 0%;
  --border-lightness: 90%;

  --input-lightness-modifier: 10%;
  
  --green: #4caf4f;
  --green-hue: 122;
  --red: #f44336;
  --red-hue: 4;
  --blue: #2096f3;
  --blue-hue: 206;
  --yellow: #ffab00;
  --yellow-hue: 40;

  @apply hsl-functions;
}
header {
  --link-saturation: 0%;
  --link-lightness: 35%;
  --link-saturation-hover: 20%;
  --link-lightness-hover: 0%;

  @apply hsl-functions;
}
@screen lg {
  header {
    --bg-saturation: 15%;
    --bg-lightness: 25%;
    --text-saturation: 20%;
    --text-lightness: 90%;
    --link-saturation: 20%;
    --link-lightness: 80%;
    --link-saturation-hover: 0%;
    --link-lightness-hover: 10%;
    --border-saturation: 15%;
    --border-lightness: 35%;
    --input-lightness-modifier: -10%;
  
    @apply hsl-functions;
  }
}

/* =======================================================
General
======================================================= */

html {
  font-size: 16px;
}
@screen lg {
  html {
    font-size: 15px;
  }
}
html, body {
  @apply text-text;
}

h1, h2, h3, h4, h5, h6 {
  @apply pb-4 font-medium tracking-tight text-header;
}
h1 {
  @apply pt-2 pb-8 text-4xl font-bold;
}
h1 + h2 {
  @apply pt-0;
}
h2, h3, h4, h5, h6 {
  @apply pt-4;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}

p, article > div {
  @apply mb-4;
}

a:not(.superplain) {
  @apply text-link;
}
a:not(.superplain):hover {
  --link: hsl(var(--link-hue), calc(var(--link-saturation) + var(--link-saturation-hover)), calc(var(--link-lightness) + var(--link-lightness-hover)));
}

/* =======================================================
Header
======================================================= */

header.mobile-nav--active {
  @apply fixed top-0 bottom-0 left-0 right-0;
}

header .nav-main__filler--active {
  @apply flex-grow;
}
header .nav-main.nav-main--top {
  @apply sticky top-10;
}
header .nav-main.nav-main--bottom {
  @apply sticky bottom-10;
}

header .button-social {
  @apply flex items-center justify-center w-8 h-8 text-link;
}
header .button-social:hover {
  @apply text-text;
}

header .group {
  @apply text-lg font-bold uppercase lg:text-sm;
}

header .current-menu-item a {
  @apply font-bold;
}

/* =======================================================
Article 
======================================================= */

.content-main {
  @apply overflow-hidden;
}

.content-main ul {
  @apply pl-6 mb-1 list-outside list-square;
}
.content-main ul > li {
  @apply mb-1;
}

.content-main a:not(.superplain) {
  @apply font-medium;
}

.content-main a[target='_blank']:not(.superplain), .content-main a.link-with-arrow {
  @apply relative;
}
.content-main a[target='_blank']:not(.superplain)::after, .content-main a.link-with-arrow::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.5rem;
}
.content-main a[target='_blank']:not(.superplain)::after {
  content: "\f35d";
  margin-left: 0.25rem;
}
.content-main a.link-with-arrow::after {
  content: "\f30b";
}

.content-main pre {
  @apply p-4 mb-6 text-sm border-l-2 border-link bg-border;
}

.content-main .wp-block-latest-posts {
  @apply pl-0;
}

.content-main .screen-reader-text {
  @apply hidden;
}
.content-main .page-numbers {
  @apply inline-block px-3 py-1 font-medium border rounded border-border text-text;
}
.content-main a.page-numbers {
  @apply text-text;
}
.content-main a.page-numbers:hover {
  @apply text-link border-link;
}

/* =======================================================
Tags 
======================================================= */

.post-category-tags {
  @apply mb-6 lg:mb-0;
}

.post-list .post-category-tags {
  @apply mt-4 mb-0 lg:mt-0;
}

/* =======================================================
Comments 
======================================================= */

.comment-form input:not([type='checkbox']):not([type='button']):not([type='submit']), .comment-form textarea {
  @apply w-full;
}

.post-container ul {
  @apply list-none;
}
.post-container ul ul {
  @apply pt-4 pl-4;
}

.post-container input, .post-container textarea {
  @apply outline-none;
}

.post-container input:not([type='checkbox']):not([type='button']):not([type='submit']), .post-container textarea {
  @apply px-3 py-2 border rounded outline-none appearance-none bg-input border-input-border focus:border-input-border-focus;
}

.post-container button, .post-container input[type='button'], .post-container input[type='submit'] {
  @apply px-6 py-3 text-xs font-bold uppercase bg-transparent border rounded-md outline-none appearance-none cursor-pointer text-link border-link;
}
.post-container button:hover, .post-container input[type='button']:hover, .post-container input[type='submit']:hover {
  --link: hsl(var(--link-hue), calc(var(--link-saturation) + var(--link-saturation-hover)), calc(var(--link-lightness) + var(--link-lightness-hover)));
}

.post-container label {
  @apply font-semibold;
}
.post-container label:first-child {
  @apply block mb-1;
}

.post-container input[type='checkbox'] {
  @apply w-5 h-5 border rounded appearance-none border-border;
}
.post-container input[type='checkbox']:checked {
  @apply bg-center bg-no-repeat bg-link;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

.comment-form-cookies-consent {
  @apply flex items-center space-x-2;
}
.comment-form-cookies-consent input {
  @apply flex-shrink-0;
}
