@tailwind base;
@tailwind components;
@tailwind utilities;

.hsl-functions {
  --bg: hsl(var(--primary-hue), var(--bg-saturation), var(--bg-lightness));
  --text: hsl(var(--primary-hue), var(--text-saturation), var(--text-lightness));
  --header: hsl(var(--primary-hue), var(--header-saturation), var(--header-lightness));
  --link: hsl(var(--link-hue), var(--link-saturation), var(--link-lightness));
  --border: hsl(var(--primary-hue), var(--border-saturation), var(--border-lightness));
  --input: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) + var(--input-lightness-modifier)));
  --input-border: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) - var(--input-lightness-modifier)));
  --input-border-focus: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) - var(--input-lightness-modifier)));
}

:root {
  --primary-hue: 220;
  --link-hue: 360;

  --bg-saturation: 0%;
  --bg-lightness: 98%;

  --text-saturation: 0%;
  --text-lightness: 35%;

  --header-saturation: 0%;
  --header-lightness: 25%;

  --link-saturation: 50%;
  --link-lightness: 50%;

  --border-saturation: 0%;
  --border-lightness: 85%;

  --input-lightness-modifier: 10%;
  --green: #4caf4f;
  --green-hue: 122;
  --red: #f44336;
  --red-hue: 4;
  --blue: #2096f3;
  --blue-hue: 206;
  --yellow: #ffab00;
  --yellow-hue: 40;

  @apply hsl-functions;
}
header {
  --link-hue: 220;
  --bg-lightness: 20%;
  --text-saturation: 20%;
  --text-lightness: 90%;
  --link-saturation: 20%;
  --link-lightness: 80%;
  --input-lightness-modifier: -10%;

  @apply hsl-functions;
}

/* =======================================================
General
======================================================= */

html {
  font-size: 16px;
}
html, body {
  @apply font-light text-text;
}

h1, h2, h3, h4, h5, h6 {
  @apply mb-6 font-medium tracking-tight text-header;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}

p {
  @apply mb-6;
}

ul {
  @apply mb-5;
}
ul > li {
  @apply mb-1;
}

/* =======================================================
Header
======================================================= */

header a {
  @apply text-link;
}
header a:hover {
  @apply text-text;
}

header.mobile-nav--active {
  @apply fixed top-0 bottom-0 left-0 right-0;
}

header .nav-main__filler--active {
  @apply flex-grow;
}
header .nav-main.nav-main--top {
  @apply sticky top-8;
}
header .nav-main.nav-main--bottom {
  @apply sticky bottom-8;
}

header .button-social {
  @apply flex items-center justify-center w-8 h-8 text-link;
}
header .button-social:hover {
  @apply text-text;
}

header .group {
  @apply text-sm font-bold uppercase;
}

header .current-menu-item a {
  @apply font-bold;
}

/* =======================================================
Article 
======================================================= */

.content-main ul {
  @apply pl-6 list-outside list-square;
}

.content-main label {
  @apply block mb-2 font-bold;
}

.content-main input[type='checkbox'] {
  @apply w-5 h-5 border rounded appearance-none border-border;
}
.content-main input[type='checkbox']:checked {
  @apply bg-gray-600 bg-center bg-no-repeat;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}
.content-main pre {
  @apply p-4 mb-6 text-sm border-l-2 border-link bg-border;
}

.content-main a:not(.superplain) {
  @apply text-link;
}
.content-main a:not(.superplain):hover {
  @apply text-text;
}

.content-main .screen-reader-text {
  @apply hidden;
}
.content-main .page-numbers {
  @apply inline-block px-3 py-1 font-semibold border rounded border-border text-text;
}
.content-main a.page-numbers {
  @apply text-text;
}
.content-main a.page-numbers:hover {
  @apply text-link border-link;
}

/* =======================================================
Tags 
======================================================= */

.post-category-tags {
  @apply mb-6 lg:mb-0;
}

.post-list .post-category-tags {
  @apply mt-4 mb-0 lg:mt-0;
}

/* =======================================================
Comments 
======================================================= */

.comment-form input:not([type='checkbox']):not([type='button']):not([type='submit']), .comment-form textarea {
  @apply w-full;
}

.post-container ul {
  @apply list-none;
}
.post-container ul ul {
  @apply pt-4 pl-4;
}

.post-container input, .post-container textarea {
  @apply outline-none;
}
.post-container input:focus:not([type='checkbox']):not([type='submit']), .post-container textarea:focus {
  @apply border border-black;
}
.post-container input:not([type='checkbox']):not([type='button']):not([type='submit']), .post-container textarea {
  @apply px-2 py-1 bg-white border rounded-md appearance-none text-text border-border;
}

.post-container button, .post-container input[type='button'], .post-container input[type='submit'] {
  @apply px-6 py-3 text-xs font-bold text-white uppercase border rounded-md appearance-none cursor-pointer bg-link border-link;
}

.comment-form-cookies-consent {
  @apply flex space-x-2;
}
.comment-form-cookies-consent input {
  @apply flex-shrink-0;
}