@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #4caf4f;
  --red: #f44336;
  --blue: #2096f3;
  --yellow: #ffab00;
}

/* =======================================================
General
======================================================= */

html {
  font-size: 16px;
}
html, body {
  @apply text-text;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  @apply mb-6 tracking-tighter;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}

p {
  @apply mb-6;
}

ul {
  @apply mb-5;
}
ul > li {
  @apply mb-1;
}

/* =======================================================
Header
======================================================= */

header a {
  @apply text-nav-text-a;
}
header a:hover {
  @apply text-nav-text;
}
a:not(.plain) {
  @apply border-none;
}

header.mobile-nav--active {
  @apply fixed top-0 left-0 right-0 bottom-0;
}

header .nav-main__filler--active {
  @apply flex-grow;
}
header .nav-main.nav-main--top {
  @apply sticky top-8;
}
header .nav-main.nav-main--bottom {
  @apply sticky bottom-8;
}

header .button-social {
  @apply text-nav-text-a flex items-center justify-center w-8 h-8;
}
header .button-social:hover {
  @apply text-nav-text;
}

header .group {
  @apply uppercase text-sm font-bold;
}

header .current-menu-item a {
  @apply font-bold;
}

/* =======================================================
Article 
======================================================= */

article ul {
  @apply list-inside list-square;
}

article label {
  @apply block font-bold mb-2;
}
article input + label {
  @apply inline-block ml-2;
}

article input:not([type='checkbox']):not([type='button']):not([type='submit']), article textarea {
  @apply appearance-none px-2 py-1 bg-white text-text border border-border rounded-md;
}

article input, article textarea {
  @apply outline-none;
}
article input:focus:not([type='checkbox']):not([type='submit']), article textarea:focus {
  @apply border border-black;
}

article button, article input[type='button'], article input[type='submit'] {
  @apply appearance-none px-6 py-3 bg-nav-input border border-nav-input uppercase rounded-md text-white font-bold text-xs cursor-pointer;
}
article pre {
  @apply border-l-2 border-primary bg-border p-4 mb-6 text-sm;
}

article a {
  @apply text-primary;
}
article a:hover {
  @apply text-text;
}
article a:not(.plain) {
  @apply border-b border-border relative;
}
article a:not(.plain)::after {
  @apply absolute bg-text;
  content: "";
  bottom: -1px;
  left: 0;
  right: 100%;
  height: 1px;
  transition: right ease-in-out .2s;
}
article a:not(.plain):hover::after {
  right: 0;
}

/* =======================================================
Comments 
======================================================= */

.comment-form input:not([type='checkbox']):not([type='button']):not([type='submit']), .comment-form textarea {
  @apply w-full;
}