 :root {
  --primary-color: #12232e;
  --secondary-color: #007cc7;
  --tertiary-color: #4da8da;
  --quaternary-color: #203647;
  --body-border-color: #ddd;
  --body-background-color: #fafafa;
  --nav-background-color: #f2f2f2;
  --content-background-color: #f8f8f8;
  --text-color: #606c76;
  --font: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-size: 1.6em;
  --blue: #2096f3;
  --green: #4caf4f;
  --red: #f44336;
  --yellow: #ffab00;
}